$accent-primary: #74cbdf;
$accent-secondary: #a25ffa;
$border-color-default: #ddd;

$contain-width: 1024px;

$layout-breakpoint-large: 1024px;
$layout-breakpoint-medium: 824px;
$layout-breakpoint-small: 600px;
