html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
}

main {
  margin: 5em auto;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  &--inner {
    max-width: $contain-width;
    margin: 0 auto;
    padding: 0 3em;
  }

  &--border {
    border: 1px solid $border-color-default;
    padding: 24px;
  }
}
