$accent-primary: #74cbdf;
$accent-secondary: #a25ffa;
$border-color-default: #ddd;

$text-color-gray: #424242;
$text-color-blue: #1867c0;
$text-color-green: #690;
$text-color-red: #905;

$contain-width: 1024px;

$layout-breakpoint-large: 1024px;
$layout-breakpoint-medium: 824px;
$layout-breakpoint-small: 600px;
